/*Rojo: #bf1b27, Azul: #263d54 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .header{
    display: flex;
    justify-content: center;
    border-bottom: solid #263d54;
}

.ul_header{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4p;
}

.li_header{
    position: relative;
    float: left;
    list-style-type: none;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* Sección Buscador */

.cajaBusqueda{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #e2e8f0;
    border-bottom: solid #bf1b27;
}

.buscador{
    padding: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: black;
    width: 80%;
    height: 2.5rem;
    margin: 1rem;
}

.cajaBusqueda > a{
    color: inherit;
    text-decoration: inherit;
}

.menu{
  background-color: unset;
  border: none;
}

button:hover{
  text-decoration: solid;
  text-decoration-color: #bf1b27;
}

/* button{
    background-color: #263d54;
    font-weight: bold;
    color: white;
    border-radius: 5px!important;
    padding: 5px;
} */

/* Diseños responsives */
@media (min-width: 720px) {
    body {
      width: 720px;
    }
  }
  
  @media (min-width: 1366px) {
    body {
      width: 1366px;
    }
  }
  
  @media (min-width: 1440px) {
    body {
      width: 1440px;
    }
  }
  
  @media (min-width: 1920px) {
    body {
      width: 1920px;
    }
  }
  