/*Rojo: #bf1b27, Azul: #263d54 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

button{
    background-color: #263d54;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

/* Diseños responsives */
@media (min-width: 720px) {
    body {
      width: 720px;
    }
  }
  
  @media (min-width: 1366px) {
    body {
      width: 1366px;
    }
  }
  
  @media (min-width: 1440px) {
    body {
      width: 1440px;
    }
  }
  
  @media (min-width: 1920px) {
    body {
      width: 1920px;
    }
  }
  